body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }
  
  .header {
    align-items: center;
    background: #141e30;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  
  .header__menu {
      margin-right: 30px;
  }
  
  .header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -50px;
    padding: 0px 20px 5px 10px;
    position: absolute;
    width: 100px;
    text-align: right;
    background-color: #141e30;
    border-radius: 10px;
  }
  
  .header__menu:hover ul, ul:hover {
      display: block;
  }
  
  .header__menu li {
    margin: 10px 0px;
  }
  
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu li a:hover {
    text-decoration: underline;
  }
  
  .header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .header__menu--profile img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
  }

  .add{
      padding: 0px 100px;
  }

  .add__container p{
      font-weight: bold;
      margin-bottom: 50px;
  }

  .input {
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 65%;
  }

  .input2 {
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 30%;
  }

  .button2{
    background-color: #F39C12 ;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin-top: 80px;
    outline: none;
    margin-left: 30%;
    margin-bottom: 20px;
    border: none;
  }