body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.header {
  align-items: center;
  background: #141e30;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
display: none;
list-style: none;
margin: 0px 0px 0px -50px;
padding: 0px 20px 5px 10px;
position: absolute;
width: 100px;
text-align: right;
background-color: #141e30;
border-radius: 10px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
margin: 10px 0px;
}

.header__menu li a {
color: white;
text-decoration: none;
}

.header__menu li a:hover {
text-decoration: underline;
}

.header__menu--profile {
align-items: center;
display: flex;
cursor: pointer;
}

.header__menu--profile img {
width: 40px;
height: 40px;
margin-right: 8px;
-o-object-fit: cover;
object-fit: cover;
border-radius: 100%;
}

.edit{
  padding: 0px 100px;
}

.edit__container p{
  font-weight: bold;
  margin-bottom: 50px;
}

.input {
border: 2px solid gray;
border-radius: 10px;
font-family: 'Muli', sans-serif;
font-size: 14px;
height: 30px;
margin-bottom: 20px;
outline: none;
padding: 0px 20px;
width: 70%;
}

/* .textarea{
border: 2px solid gray;
border-radius: 10px;
font-family: 'Muli', sans-serif;
font-size: 14px;
margin-bottom: 20px;
outline: none;
padding: 0px 20px;
width: 70%;
} */

.button{
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin-top: 80px;
  outline: none;
  border: none;
  position: relative;
  bottom: 150px;
}

.button2{
  background-color: #F39C12 ;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin-top: 80px;
  outline: none;
  margin-left: 57%;
  margin-bottom: 20px;
  border: none;
}

.contenedor__img{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.contenedor__img .share-info3{
  position: relative;
  height: 150px;
  width: 150px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenedor__img .share-info3 .bee_avatar2{
  width: 150px;
  height: 150px;
  transition: all 200ms ease-out;
}

.contenedor__img .share-info3 .texto{
  position: absolute;
  top: 0px;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100px;
  cursor: pointer;
  background: rgba(34,34,34,0.75);
  opacity: 0; 
  visibility: hidden;
  text-align: center;
  color: rgba(255, 255, 255, 0.404);
  transition: all 225ms ease-out;
}

.contenedor__img .share-info3:hover > .texto{
  opacity: 1;
  visibility: visible;
  transition: all 225ms ease-out;
}

.contenedor__img .share-info3:hover > .texto p{
  margin-top: 65px;
  transition: all 225ms ease-out;
}