body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }
  
  .header {
    align-items: center;
    background: #141e30;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }

  .header__menu {
      margin-right: 30px;
  }
  
  .header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -50px;
    padding: 0px 20px 5px 10px;
    position: absolute;
    width: 100px;
    text-align: right;
    background-color: #141e30;
    border-radius: 10px;
  }
  
  .header__menu:hover ul, ul:hover {
      display: block;
  }
  
  .header__menu li {
    margin: 10px 0px;
  }
  
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu li a:hover {
    text-decoration: underline;
  }

  .header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .header__menu--profile img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
  }


  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: black;
    font-size: 25px;
  }
  

  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
  }  

  th, td {
    padding: 15px;
  }

  table {
    width: 100px;
    margin: 0 auto;
  }
  th {
    text-align: left;
}
