@media only screen and (max-width: 600px) {
    .header__img{
        margin-left: 10px;
    }

    .input {
        width: 80%;
    }

    .main__description--title {
      font-size: 30px;
    }
  
    .footer {
      align-items: flex-start;
      flex-direction: column;
    }
  }