{% extends "base.html" %}

{% block head_content %}

    {% load static %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/listmobile.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

    <title>Shopnet</title>
<!--https://cssgradient.io/gradient-backgrounds/    Es la url para colores y diseños de gradiente-->
{% endblock  %}

{% block container %}

    <section class="main">
        <h2 class="main__title">Users List</h2>
    </section>

    <section class="carousel">
 
        <table style="width: 30%">
                {% for user in users %}

                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.job_title}}</td>
                </tr>
                
                {% endfor %}
        </table>
    
    </section>


{% endblock %}