{% extends "base.html" %}

{% block head_content %}

    {% load static %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

    <title>Shopnet</title>
<!--https://cssgradient.io/gradient-backgrounds/    Es la url para colores y diseños de gradiente-->
{% endblock  %}

{% block container %}

    <h2 class="user">Users List</h2>    
 
    <table style="width: 30%">
            {% for user in users %}

            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.job_title}}</td>
            </tr>
            
            {% endfor %}
    </table>


{% endblock %}